{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body>

<header><h1>{{ post.title }}</h1></header>

<div class="container">
    {% if post.image %}
      <img src="{{ post.image.url }}" width="300"><br><br>
    {% endif %}

    <p><b>👤 Author:</b> {{ post.author }}</p>
    <p><b>📅 Posted:</b> {{ post.created_date }}</p>
    <p>{{ post.content }}</p>

    <br>
    <a href="{% url 'index' %}">⬅ Back to Home</a>
</div>

</body>
</html>
